.Rproj.user
.Rhistory
.~lock.template.docx#
.~lock.paper.docx#
rofcamtrap.sif
rofcamtrap.tar
figures
data
data-raw
0_*
/.quarto/
token.secret
*.aux
*.tex
*.log
*.toc
docs/**/*.pdf
docs/**/unnamed-chunk-*.png
my_report.rds
